<div class="flex justify-center items-center h-screen">

  <div class="flex justify-center flex-col gap-2.5">

    <div class="text-gray-50">
      Add meg, hogy hány éves a kutyád:
    </div>
    <input type="number" placeholder="pl 3"
           class="border border-gray-600 rounded-md
           bg-gray-800 px-4 py-1 text-center text-white placeholder-yellow-500"/>

    <button class="bg-yellow-300 text-gray-900 px-4 py-1 rounded-md hover:bg-yellow-500 cursor-pointer">
      Számolás
    </button>

  </div>

</div>

